@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-main-text: #000000;
    --color-second-text:#5F6164;
    --color-link:#3577EF;
    --color-date:#8D8D8D;
    --color-channel-user:#B5B5B5;
    --color-channels:#B5B5B5;
    --color-title-channels:#919191;
    --font-lato:'Lato', sans-serif;
    --width-bold:700;
    --width-regular:400;
}

.wrapper{
    position: relative;
    z-index:2;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-image: url("../img/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.channels{
    display: flex;
    height: inherit;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 40px 15px 15px 15px;
    background: #000000;
    opacity: 0.7;
    width: fit-content;
}

.channels__list{
    display: flex;
    flex-direction: column;
    position: relative;
}

.channel{
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
    opacity: 0.4;
}

.channel-active{
    opacity: 1;
}

.channel>img{
    width: 100%;
    height: 100%;
}

.channel__add{
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgba(49, 49, 49, 0.7);
    cursor: pointer;
}

.channel__add>span{
    height: 100%;
    font-size: 35px;
    font-family: var(--font-lato);
    font-weight: var(--width-bold);
    color: white;
    opacity: 0.4;
}

.current__channel{
    min-width: 300px;
    height: inherit;
    background: #25272A;
    opacity: .75;
    overflow: scroll;
}

.container{
    padding: 35px 25px 0px 25px;
}

.channel__header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title{
    font-size: 20px;
    font-family: var(--font-lato);
    font-weight: var(--width-bold);
}

.channel__title {
    color: white;
    cursor: pointer;
}

.channel__title::after{
    content:url("../img/incons/arrow.svg");
    color: white;
    margin-left: 10px;
}

.title_row{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.settings{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.settings>img{
    width: 100%;
    height: 100%;
}

.channel__body{
    display: flex;
    flex-direction: column;
}

.sub__title{
    font-family: var(--font-lato);
    font-weight: var(--width-regular);
    font-size: 15px;
    color: var(--color-channels);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sub__title::before{
    content: url("../img/incons/mess.svg");
    margin-top: 5px;
    margin-right: 10px;
}

.channel__sub_title{
    padding: 30px 0;
}

.list__channel{
    display: flex;
    flex-direction: column;
}

.header__list{
    padding: 15px 0px;
}

.title__list{
    text-transform: uppercase;
    justify-content: space-between;
}

.title__list>p{
    font-family: var(--font-lato);
    font-weight: var(--width-bold);
    font-size: 15px;
    color: var(--color-title-channels);
}

.chats__body>ul,.users__body>ul {
    display: flex;
    flex-direction: column;
}

.chat{
    padding: 5px 13px;
    color: var(--color-channel-user);
    text-decoration: none;
    font-family: var(--font-lato);
    font-weight: var(--width-bold);
    font-size: 15px;
}

.chat-active{
    color: white;
    background: rgba(255, 255, 255, 0.2) !important;
    border-radius: 5px;
}

.user__item{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    margin-bottom: 15px;
    cursor:pointer;
}

.status{
    width: 8px;
    height: 8px;
    background: #666666;
    border-radius: 50%;
}

.status-online{
    background: #70CC16;
}

.avatar{
    width: 40px;
    height: 40px;
    margin: 0px 12px;
}

.avatar>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.name{
    font-family: var(--font-lato);
    font-weight: var(--width-regular);
    color: var(--color-channel-user);
    font-size: 15px;
}

.window__chat{
    display: flex;
    flex-direction: column;
    background: white;
    width: 100%;
    overflow: hidden;
}

.header__window{
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.24);
}

.title__window{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;
}

.name__chat>p{
    font-family: var(--font-lato);
    font-weight: var(--width-bold);
    font-size: 25px;
    display: flex;
    align-items: center;
}

.name__chat>p::after{
    content: url("../img/incons/star.svg");
    margin-left: 5px;
}

.tool__bar{
   display: flex;
   flex-direction: row;
   align-items: center;
}

.count__message>p{
    font-family: var(--font-lato);
    font-weight: var(--width-regular);
    font-size: 15px;
    color: #a4a4a4;
    display: flex;
    align-items: center;
}

.count__message>p::before{
    content: url("../img/incons/lock.svg");
    margin-right: 5px;
}

.btn__tools{
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    margin-left: 25px;
}

.btn__tools>span{
    width:6px;
    height: 6px;
    background: #000000;
    opacity: .3;
    border-radius: 50%;
}

.form{
    width: 240px;
    margin: 0 25px;
}

.form__group{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}

.form__group>input{
    width: 100%;
    padding: 8px 16px;
    outline: none;
    border: 0.5px solid rgba(0, 0, 0, 0.24);
    border-radius: 5px;
    font-family: var(--font-lato);
    font-weight: var(--width-regular);
    font-size: 15px;
}

.form__group>button{
    position: absolute;
    right: 16px;
    background: none;
    border: none;
    width: 20px;
    height: 20px;
}

.form__group>img{
    width: 100%;
    height: 100%;
}

.notice{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.notice>img{
   width: 100%;
   height: 100%;
}

.chat__window{
    padding: 20px 0;
    max-height: 100%;
    overflow-y: scroll;
    flex-grow: 1;
}

.list__message{
    display: flex;
    flex-direction: column;
}

.item__message{
    margin-bottom: 20px;
}

.wrapper__message{
    display: flex;
    flex-direction: column;
}

.message__block{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-bottom: 15px;
}

.avatar{
    min-width: 40px;
    min-height: 40px;
    max-width: 40px;
    max-height: 40px;
    display: block;
}

.avatar>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.message__conten{
    display: flex;
    flex-direction: column;
}

.message__header{
    display: flex;
    flex-direction: row;
}

.message__header>.send__name{
    font-family: var(--font-lato);
    font-size: 15px;
    font-weight: var(--width-bold);
    color: #000000;
    margin-right: 10px;
}

.message__header>.send__date{
    font-family: var(--font-lato);
    font-size: 15px;
    font-weight: var(--width-regular);
    color: var(--color-date);
}

.text__message{
    font-family: var(--font-lato);
    color: #000000;
    font-size: 14px;
    word-break: break-all;
    line-height: 20px;
}

.convert__date{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.convert__date>p{
    text-align: center;
    display: block;
    font-family: var(--font-lato);
    font-size: 14px;
    color: var(--color-date);
    padding: 0 15px;
    white-space: nowrap;
}

.line__date{
    display: block;
    width: 100%;
    height: 1px;
    opacity: 0.16;
    background: #000000;
}

.link__message{
    color: var(--color-link);
    text-decoration: none;
}

.input__send_message{
    padding: 25px;
    border-top: 1px solid #00000032;
}

.wrapp__input{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.function__btn{
    display: flex;
    flex-direction: row;
}

.add__file,.add__voice{
    margin-right: 20px;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.add__file>img,.add__voice>img{
    width: 100%;
    height: 100%;
}

.message__form-send{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

.message__form-send>label{
    position: absolute;
    font-family: var(--font-lato);
    font-size: 15px;
    color: var(--color-date);
    opacity: 0.8;
}

.message__form-send>textarea{
    width: 100%;
    border: none;
    outline: none;
    font-family: var(--font-lato);
    font-size: 15px;
    color: #000000;
    font-weight: var(--width-regular);
    resize: none;
    overflow-y: scroll;
}

.user{
    min-width: 250px;
    background: #ffffffc0;
    mix-blend-mode: normal;
}

.image__profile{
    width: 100%;
    object-fit: cover;
    max-width: 250px;
    min-width: 250px;
}

.image__profile>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text__profile{
    padding: 15px;
    line-height: 20px;
}

.main__text_profile{
    font-size: 18px;
    font-family: var(--font-lato);
    font-weight: var(--width-bold);
    color: #000000;
}

.second__text_profile{
    font-size: 14px;
    font-family: var(--font-lato);
    font-weight: var(--width-regular);
    color: var(--color-second-text);
}

.social__link_profile{
    display: flex;
    flex-direction: row;
    grid-gap: 10px;
    padding: 15px;
    cursor: pointer;
}

.social__link_profile>li{
    list-style: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: white;
}

.social__link_profile>li>img{
    width: 100%;
    height: 100%;
    padding: 6px;
}

.group__btn_profile{
    padding: 15px;
    display: flex;
    flex-direction: row;
    grid-gap: 5px;
}

.btn__message{
    font-family: var(--font-lato);
    font-weight: var(--width-bold);
    font-size: 18px;
    color: white;
    background: #3577EF;
    padding: 5px 40px;
    border-radius:5px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.shtor__btn{
    background: #3577EF;
    border-radius:5px;
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.shtor__btn>img{
    width: 13px;
    height: 13px;
}

.list__info_profile{
    padding: 15px;
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
}

.item__info{
    list-style: none;
    
}

.title__item{
    font-family: var(--font-lato);
    font-size: 14px;
    font-weight: var(--width-regular);
    color: var(--color-second-text);
}

.value__item{
    font-family: var(--font-lato);
    font-size: 16;
    font-weight: var(--width-regular);
    color: #000000;
}